.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    -90deg,
    rgba(255, 167, 38, 1) 0%,
    rgba(255, 84, 17, 1) 90%
  );

  padding: 1em;
  border-radius: 5px;
  width: 90%;
  word-wrap: break-word;
  transition: 0.2s;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    -90deg,
    rgba(106,90,205, 1) 0%,
    rgba(155, 0, 250, 1) 90%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    -90deg,
    rgba(229, 106, 179, 1) 0%,
    rgba(250, 0, 135, 1) 90%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(0, 71, 171, 1) 100%
  );
}

.todo-row:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px black;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 3;
}

.delete-icon {
  margin-right: 0.31em;
  color: #fff;
}
.delete-icon :hover {
  margin-right: 0.31em;
  color: #C41E3A;
}

.edit-icon {
  color: #fff;
}

.edit-icon:hover {
  color: #0FFF50;
}

.complete {
  text-decoration: line-through;
  opacity: 0.75;
}

.complete-status-icon {
  color: #fff;
  font-size: 1.5em;
  margin-right: 0.25em;
}

.complete-status-icon-cross {
  color: #000000;
  font-size: 1.5em;
  margin-right: 0.25em;
}
