.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 1em;
  border-radius: 5px;
  width: 90%;
  word-wrap: break-word;
  transition: 0.2s;
}

.todo-row:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px black;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
}

.delete-icon {
  margin-right: 0.31em;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.complete {
  text-decoration: line-through;
  opacity: 0.75;
}

.complete-status-icon {
  color: #fff;
  font-size: 1.5em;
  margin-right: 0.25em;
}
